.header{
    height: 130px;
    color: #16753b;
    background-color: #3bce7d;
    text-align: center;
    font-size: 29px;
    padding: 60px 40px 10px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    height: 600px;
    margin: 10px;
    padding: 40px;
    text-align: center;
    border: 8px solid rgb(96, 112, 96);
    background-color: #69b988;
    font-family: sans-serif;
}
.footer{
    height: 100px;
    background-color: rgb(127, 201, 127);
    padding: 70px;
    color: #10110f;
    font-family: sans-serif;
}
.footer-logo{
    text-align: center;
    font-size: 30px;
}
.footer-list{
    float: right;
}
.footer-list li{
    list-style: none;
    font-size: 18px;
    padding-bottom: none;
}